* {
    font-family: 'helvetica nue', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    /* For some Androids */
}
body{
    background-color: #d4d4d4;
}

.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}

.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}

.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}

.menui {
    background: orange;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}

.icon {
    z-index: 999;
    position: fixed;
    display: block;
    padding: 9px;
    height: 32px;
    width: 32px;
    margin: 0px;
    top: 10px;
    left: 0;
}

.mobilenav {
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: orange;
}

.mobilenav li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.mobilenav li a {
    font-size: 150%;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
}

.mobilenav li:first-child {
    margin-top: 60px;
}

.header
{
    background-color: blue;
}

.menu-burger
{
    width: 10%;
    display: inline;
}

.photo-profil
{
    text-align: center;
}

.infos-globales
{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
}

.defi-en-cours
{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
}
form
{
    margin: 100px;

}
h1
{
    color: #eea236;
    display: inline;
    padding-top: 10px;
    padding-left: 100px;
    text-decoration: none;
}

.affichage_sports
{
    width: 20%;
}

.images_defi
{
    width: 60%;
    height: 80px;
}

.liste_challengers
{
    margin-top: 20px;
    display: inline-block;
}

.image_challenger
{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.btn.btn-lg.btn-danger.bouton-trophees
{
    width: 100%;
    margin-top: 40px;
    margin-right: 20px;
}

.image-trophees
{
    width: 100px;
    height: 100px;
    float: left;
}

.btn.btn-danger.bouton_trophees {
    margin-top: 40px;
    margin-left: 60px;
}