.header
{
    background-color: blue;
}

.menu-burger
{
    width: 10%;
    display: inline;
}

.photo-profil
{
    text-align: center;
}

.infos-globales
{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
}

.defi-en-cours
{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
}